{% extends 'base.html' %}
{% block main %}
{% load static %}
<script src="{% static 'js/sweetalert.js' %}"></script>
<script src="{% static 'js/registration.js' %}"></script>
<section class="vh-80">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div>
          <div class="card-body">
            <div class="row justify-content-center">

              <div class="col-md-10 col-lg-10 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>

              <div class="col-md-10 col-lg-6 col-xl-5 order-1 order-lg-2">
                <p class="text-center h1 fw-bold">Sign up</p>
                    <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                        <div class="form-group">
                            <label for="username">Username</label><br>
                            <input type="text" value="{{ username }}" class="form-control" id="username" name="username" placeholder="Create A Username" Required>
                            <span id="username-error" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="fname">First Name</label><br>
                            <input type="text" value="{{ fname }}" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" Required>
                            <span id="fname-error" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="lname">Last Name</label><br>
                            <input type="text" value="{{ lname }}" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
                            <span id="lname-error" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label><br>
                            <input type="email" value="{{ email }}" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" Required>
                            <span id="email-error" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="pass1">Password</label><br>                 
                            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Your Password" Required>
                            <span id="pass1-error" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="pass2">Confirm Password</label><br>
                            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
                            <span id="pass2-error" class="text-danger"></span>
                        </div>

                        <button type="button" class="btn btn-primary mt-0" onclick="return signup()">Sign Up</button>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="d-flex text-white flex-column flex-md-row text-center text-md-start justify-content-between py-1 px-1 px-xl-2 bg-primary">
      <div>
      <!-- Copyright -->
        Copyright © 2023. All rights reserved.
      <!-- Copyright -->
      </div>
    </div>
  </footer>
</section>

{% endblock main %}