{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
        
        <!-- Include SweetAlert library -->
        <script src="{% static 'js/sweetalert.js' %}"></script>
        
        <!-- Include Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
        <!-- Include Fontawesome CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		
        <!-- Include jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
        <!-- Include custom scrollbar plugin CSS -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		
        <!-- Include custom scrollbar plugin JS -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        
        <!-- Include custom messages CSS -->
        <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    </head>

    <body>
    {% if user.is_authenticated %}
        <!-- User profile section -->
        <div class="user-profile">
            <img src="{% static 'images/profile.jpg' %}" alt="User profile picture" class="rounded-circle user_img1">
            </br><span>{{ user.username }}</span>
            <input type="hidden" id="logged-in-user" value="{{ user.id }}">
        </div>
        <button style="float: right; font-size: 14px; padding: 6px 10px; border-radius: 20px;"><a href="{% url 'logout' %}">Logout</a></button>
    {% endif %}
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100 ">
                <!-- Chat column -->
				<div class="col-md-4 col-xl-3 chat h-100 mt-4">
                    <!-- Contacts card -->
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
                        <!-- Search bar -->
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
                                <!-- Search button -->
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<!-- Contacts list -->
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            <!-- Loop through all the threads to create a contact list item for each thread -->
                            {% for thread in Threads %}
                                <!-- Add active class to the first contact by checking if this is the first iteration of the loop -->
                                <li class="{% if forloop.first %}active{% endif %} contact-li" chat-id="chat_{{ thread.id }}" style="cursor: pointer">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="{% static 'images/profile.jpg' %}" class="rounded-circle user_img">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <!-- Show the username of the other user in the thread -->
                                            {% if thread.first_person == user %}
                                                <span>{{ thread.second_person.username }}</span>
                                            {% else %}
                                                <span>{{ thread.first_person.username }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ui>
                    </div>
                    
					<div class="card-footer"></div>
					
                    </div><!-- Contacts card close-->
				</div><!-- Chat column close -->
				<div class="col-md-8 col-xl-6 chat h-100 mt-4">
                    <div class="card">
                        {% for thread in Threads %}
                        <!-- Messages wrapper for each thread
                        This div holds the chat messages for each thread. 
                        If the logged in user is the first person in the thread... 
                        then display the ID of the second person.
                        Otherwise, if the logged in user is the second person in the thread.
                        then display the ID of the first person. -->
                        <div class="messages-wrapper {% if forloop.first %}hide is_active{% else %}hide{% endif %}" chat-id="chat_{{ thread.id }}" other-user-id="
                            {% if thread.first_person == user %}
                                {{ thread.second_person.id }}
                            {% else %}
                                {{ thread.first_person.id }}
                            {% endif %}
                            ">
                            <div class="card-header msg_head">
                                <!-- Header for chat messages -->
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <!-- User's profile image -->
                                        <img src="{% static 'images/profile.jpg' %}" class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                    {% if thread.first_person == user %}
                                        <span>{{ thread.second_person.username }}</span> <!-- Display the username of the second person in the thread if the logged in user is the first person in the thread -->
                                    {% else %}
                                        <span>{{ thread.first_person.username }}</span> <!-- Display the username of the first person in the thread if the logged in user is the second person in the thread -->
                                    {% endif %}
                                        <p>{{ thread.chatmessage_thread.all.count }} messages</p> <!-- Display the number of messages in the thread -->
                                    </div>
                                    <!-- This div contains the video and phone icons for the chat header -->
                                    <div class="video_cam">
                                        <span><i class="fas fa-video"></i></span>
                                        <span><i class="fas fa-phone"></i></span>
                                    </div>

                                </div>
                                <!-- This span element displays the "ellipsis-v" icon for the action menu. -->
                                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                                <!-- This div element contains the options for the action menu. -->
                                <div class="action_menu">
                                    <ul>
                                        <!-- This li element displays the "user-circle" icon and the text "View profile" for the first menu option. -->
                                        <li><i class="fas fa-user-circle"></i> View profile</li>
                                        <!-- This li element displays the "users" icon and the text "Add to close friends" for the second menu option. -->
                                        <li><i class="fas fa-users"></i> Add to close friends</li>
                                        <!-- This li element displays the "plus" icon and the text "Add to group" for the third menu option. -->
                                        <li><i class="fas fa-plus"></i> Add to group</li>
                                        <!-- This li element displays the "ban" icon and the text "Block" for the fourth menu option. -->
                                        <li><i class="fas fa-ban"></i> Block</li>
                                    </ul>
                                </div>
                            <!-- This div element contains both the "action_menu_btn" span and the "action_menu" div. -->
                            </div>
                            <div class="card-body msg_card_body">
                            <!-- Begin message section -->
                            {% for chat in thread.chatmessage_thread.all %}<!--This is a for loop that iterates over all the chatmessage objects related to the thread object. The loop variable chat represents each chatmessage object in turn as the loop iterates through them.-->
                            
                                {% if chat.user == user %}<!--This is an if statement that checks whether the user variable is the same as the user attribute of the chat object. If it is, the message is a sent message and the code in the if block is executed. If it is not, the message is a received message and the code in the else block is executed.-->
                                
                                    <!-- Sent messages -->
                                    <div class="d-flex mb-4 replied">
                                        <div class="msg_cotainer_send">
                                            {{ chat.message }}</br>
                                            <span class="msg_time_send">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <!-- Received messages -->
                                    <div class="d-flex mb-4 received">
                                        <div class="msg_cotainer">
                                            {{ chat.message }}</br>
                                            <span class="msg_time">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} <!--Chat for end-->
                            <div id="last-msg"></div>
                            <!-- End message section -->
                            </div>
                        </div>
                        {% endfor %} <!--thread for end-->
                        <!-- Chat message input section -->
                        <div class="card-footer">
                            <!-- Form to submit chat message -->
                            <form id="send-message-form">
                                <div class="input-group">
                                    <!-- Attachment button -->
                                    <div class="input-group-append">
                                        <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                    </div>
                                    <!-- Chat message input -->
                                    <input type="text" name="" id="input-message" class="form-control type_msg" placeholder="Type your message...">
                                    <!-- Submit button -->
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit">
                                            <span class="input-group-text send_btn">
                                                <i class="fas fa-location-arrow"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- End form -->
                        </div>
                        <!-- End chat message input section -->
                    </div>
				</div>
			</div>
		</div>
        <script src="{% static 'js/messages.js' %}"></script>
	</body>
</html>
